@import '../../styles/colors.scss';

.Replay {
  display: flex;
  width: 100%;
  background: #{$pink};
  align-items: center;
  justify-content: center;
  &-Inner {
    padding: 2rem;
    color: #fff;
    background: #000;
  }
}