$black: #25211b;
$white: #fff;
$red: #d42122;
$orange: #e87a15;
$yellow: #f5cc17;
$green: #4d9445;
$blue: #377dc5;
$brown: #9c5a37;
$pink: #ff7fac;

$guessColors: // name hex textColor
  "black" $black #fff,
  "white" $white,
  "red" $red,
  "orange" $orange,
  "yellow" $yellow,
  "green" $green,
  "blue" $blue,
  "brown" $brown
;